In [115]:
import pandas as pd
import numpy as np
import pandas as pd 
%matplotlib inline
import matplotlib.pyplot as plt  # Matlab-style plotting
import seaborn as sns

In [2]:
#Make a big data set with 
order_products_prior = pd.read_csv("order_products__prior.csv")
orders = pd.read_csv("orders.csv")
products = pd.read_csv("products.csv")

In [3]:
orders=orders.loc[orders['eval_set']=='prior']

In [68]:
#We will work with 5000 users, last order will be in test set
users=range(1,5001)
orders_set=orders[orders["user_id"].isin(users)]
idx_test = orders_set.groupby(['user_id'])['order_number'].transform(max) == orders_set['order_number']
orders_set_test=orders_set[idx_test]

orders_set_testlist=np.unique(orders_set_test.order_id)
orders_set_train = orders_set[-orders_set["order_id"].isin(orders_set_testlist)]
orders_set_trainlist=np.unique(orders_set_train.order_id)

train= order_products_prior[order_products_prior["order_id"].isin(orders_set_trainlist)]
test=order_products_prior[order_products_prior["order_id"].isin(orders_set_testlist)]
train = pd.merge(train, orders_set_train, on='order_id', how='left')
test=pd.merge(test, orders_set_test, on='order_id', how='left')

In [5]:
print('Train set has %f orders',len(np.unique(train.order_id)))
print('Test set has %f orders',len(np.unique(test.order_id)))
print('Train set has %f users',len(np.unique(train.user_id)))
print('Test set has %f users',len(np.unique(test.user_id)))

Train set has %f orders 71832
Test set has %f orders 5000
Train set has %f users 5000
Test set has %f users 5000

In [6]:
products = pd.read_csv("products.csv")
train=train.merge(products, on='product_id')

In [7]:
def f1(y_true,y_pred):    
    y_true = set(y_true)
    y_pred = set(y_pred)
    cross_size = len(y_true & y_pred)
    if cross_size == 0: return 0.
    p = 1. * cross_size / len(y_pred)
    r = 1. * cross_size / len(y_true)
    return 2 * p * r / (p + r)

In [47]:
#Mean Average Precision (MAP)
def apk(y_true,y_pred, k=10):
    """
    AP rewards you for giving correct recommendations,
    AP rewards you for front-loading the recommendations that are most likely to be correct,
    AP will never penalize you for adding additional recommendations to your list — just make sure you front-load the best ones.
    """
    if len(y_pred)>k:
        y_pred = y_pred[:k]

    score = 0.0
    num_hits = 0.0

    for i,p in enumerate(y_pred):
        if p in y_true and p not in y_pred[:i]:
            num_hits += 1.0
            score += num_hits / (i+1.0)

    if not y_true:
        return 0.0

    return score / min(len(y_true), k)

In [ ]:
#AUC

In [50]:
#Recommend top10 most sale items from train set
top_train=train["product_id"].value_counts().head(10)
test_history=test.groupby('order_id').aggregate({'product_id':lambda x: list(x)})
top_train=np.array(top_train.values)

test_history['f1']=0
test_history['apk']=0
for i in test_history.index:
    test_history['f1'][i]=f1(test_history['product_id'][i],top_train)
    test_history['apk'][i]=apk(test_history['product_id'][i],top_train)
    

print('f1 mean:',np.mean(test_history.f1))
print('apk mean:',np.mean(test_history.apk))

/home/grecia/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
/home/grecia/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # Remove the CWD from sys.path while we load stuff.

f1 mean: 0.0
apk mean: 0.0

In [51]:
#Recommend top10 most reorder items from train set
top_reorder_train=train.groupby("product_id")["reordered"].aggregate({'Total_reorders': 'sum'})['Total_reorders'].sort_values(ascending=False).head(10)
top_reorder_train=np.array(top_reorder_train.values)
test_history=test.groupby('order_id').aggregate({'product_id':lambda x: list(x)})

test_history['apk']=0
test_history['f1']=0
for i in test_history.index:
    test_history['f1'][i]=f1(test_history['product_id'][i],top_reorder_train)
    test_history['apk'][i]=apk(test_history['product_id'][i],top_train)

print('f1 mean:',np.mean(test_history.f1))
print('apk mean:',np.mean(test_history.apk))

/home/grecia/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: FutureWarning: using a dict on a Series for aggregation
is deprecated and will be removed in a future version

/home/grecia/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
/home/grecia/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # Remove the CWD from sys.path while we load stuff.

f1 mean: 0.0
apk mean: 0.0

In [72]:
#Recommend last order of the user
last_orders = train.groupby("user_id")["order_number"].aggregate(np.max)
t = pd.merge(left=last_orders.reset_index(),right=train,how='inner',on=['user_id', 'order_number'])
t_last_order=t.groupby('order_id').aggregate({'product_id':lambda x: list(x)})
t_last_order = pd.merge(t_last_order,train[['order_id','user_id']],on='order_id')
t_last_order=t_last_order.drop_duplicates(subset=['order_id', 'user_id'], keep='first')

test_history=test.groupby('order_id').aggregate({'product_id':lambda x: list(x)})
test_history = pd.merge(test_history,test[['order_id','user_id']],on='order_id')
test_history=test_history.drop_duplicates(subset=['order_id', 'user_id'], keep='first')

t_last_order = pd.merge(t_last_order,test_history,on='user_id')
t_last_order=t_last_order.sort_values('user_id')
t_last_order.head()

,order_id_x,product_id_x,user_id,order_id_y,product_id_y
3375,2295261,"[49235, 46149, 25133, 196, 10258, 12427]",1,2550362,"[196, 46149, 39657, 38928, 25133, 10258, 35951..."
4800,3268552,"[42342, 30908, 79, 5869, 44303, 16521, 39877, ...",2,839880,"[24852, 16589, 1559, 19156, 18523, 22825, 2741..."
765,521107,"[39190, 47766, 21903, 43961, 17668]",3,1402502,"[39190, 18599, 23650, 21903, 47766, 24810]"
154,94891,"[22199, 25146]",4,2557754,"[26576, 25623, 21573]"
3338,2267326,"[26604, 11777, 20754, 24231, 40706]",5,157374,"[27344, 24535, 43693, 40706, 16168, 21413, 139..."

In [56]:
t_last_order['f1']=0
t_last_order['apk']=0
for i in t_last_order.index:
    t_last_order['f1'][i]=f1(t_last_order['product_id_y'][i],t_last_order['product_id_x'][i])
    t_last_order['apk'][i]=apk(t_last_order['product_id_y'][i],t_last_order['product_id_x'][i])

print('f1 mean:',np.mean(t_last_order.f1))
print('apk mean:',np.mean(test_history.apk))

/home/grecia/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
/home/grecia/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

f1 mean: 0.01893439013650374
apk mean: 0.0

In [111]:
#Recommend just reorder articles during last order
last_orders = train.groupby("user_id")["order_number"].aggregate(np.max)
t = pd.merge(left=last_orders.reset_index(), right=train[train.reordered == 1], how='inner',
                 on=['user_id', 'order_number'])
t_last_order = t.groupby('order_id').aggregate({'product_id': lambda x: list(x)})
t_last_order = pd.merge(t_last_order, train[['order_id', 'user_id']], on='order_id')
t_last_order = t_last_order.drop_duplicates(subset=['order_id', 'user_id'], keep='first')

test_history = test.groupby('order_id').aggregate({'product_id': lambda x: list(x)})
test_history = pd.merge(test_history, test[['order_id', 'user_id']], on='order_id')
test_history = test_history.drop_duplicates(subset=['order_id', 'user_id'], keep='first')

t_last_order = pd.merge(t_last_order, test_history, on='user_id')
t_last_order = t_last_order.sort_values('user_id')
t_last_order.head()

,order_id_x,product_id_x,user_id,order_id_y,product_id_y
3049,2295261,"[49235, 46149, 25133, 196, 10258, 12427]",1,2550362,"[196, 46149, 39657, 38928, 25133, 10258, 35951..."
699,521107,"[39190, 47766, 21903, 43961, 17668]",3,1402502,"[39190, 18599, 23650, 21903, 47766, 24810]"
3017,2267326,"[26604, 11777]",5,157374,"[27344, 24535, 43693, 40706, 16168, 21413, 139..."
414,298250,"[38293, 21903]",6,998866,"[49401, 25659, 8424]"
513,369015,"[47272, 37999, 21137, 12196, 23712]",7,2452257,"[47272, 29993, 31683, 27690, 9598, 13198, 3039..."

In [116]:
test_history

       order_id                                         product_id  user_id
0            40                       [10070, 42450, 33198, 34866]      382
4           504  [19894, 2237, 6628, 49533, 5025, 15392, 19678,...     2201
24          629  [34126, 30305, 11895, 46069, 38419, 16325, 591...     3351
36          832  [13176, 31720, 47209, 21137, 11422, 19204, 241...     3683
46         3834  [25146, 24363, 20282, 27413, 22159, 21497, 12341]     2371
53         4814  [40092, 40824, 25551, 40146, 432, 4357, 26756,...     1423
85         6364         [21463, 11574, 49215, 44032, 24195, 39409]     2822
91         6769  [6846, 24852, 26384, 4210, 9515, 8859, 15125, ...     4201
106        7585  [25495, 5013, 45443, 3522, 35131, 19535, 32732...     2059
114        8535           [18135, 39032, 15404, 1541, 14634, 3298]     3366
120        9998  [24852, 19660, 10221, 49424, 8424, 48123, 4158...     4200
130       10524                        [20784, 19514, 4475, 27418]     3947
134       10627                [19057, 27020, 24852, 34882, 21137]      920
139       10886  [10565, 12703, 21405, 10246, 17794, 45063, 427...     3789
148       10897  [45681, 20239, 8668, 4591, 31683, 16893, 16782...      967
160       11455  [46638, 24742, 12763, 22533, 10984, 4142, 1353...     4416
177       11946          [30995, 38452, 35992, 24852, 4210, 27086]     3001
183       12174  [21405, 16083, 43961, 36695, 26209, 35939, 983...      650
196       12335  [13176, 19057, 18523, 45840, 18020, 32734, 266...     2638
209       12391                                     [12703, 13544]     1050
211       12399  [31154, 2278, 35419, 36616, 10856, 7898, 6244,...     3319
234       12441  [40708, 12980, 28842, 7548, 41966, 5991, 23600...     4820
246       12491  [46206, 34969, 11140, 10385, 21137, 11777, 587...     1372
279       12857    [4149, 46802, 13176, 22046, 10326, 12341, 6087]     1274
286       13118  [31981, 44799, 42633, 13029, 24852, 14280, 907...      226
298       13660  [36606, 15950, 10715, 20589, 49416, 27156, 271...     1632
306       13666  [18926, 49610, 46979, 22935, 10749, 26604, 15143]     4652
313       14313                                     [17731, 18689]     2880
315       14836  [16797, 37766, 42650, 17044, 17200, 48946, 427...      773
324       15496                       [13819, 10711, 36070, 17600]     1778
...         ...                                                ...      ...
51265   3408134  [49683, 7681, 6287, 45603, 30776, 13062, 28398...      194
51275   3409072  [46969, 34658, 14853, 32523, 35951, 10129, 107...     2211
51286   3409097  [12606, 36685, 35721, 35221, 287, 43263, 21464...     3047
51299   3409445  [23731, 6383, 25824, 38596, 48871, 18778, 3208...     3537
51308   3409543  [24852, 47766, 432, 42768, 35042, 28849, 890, ...     4058
51328   3410025   [5876, 13176, 25931, 17948, 48642, 46979, 24838]     2438
51335   3410161  [5785, 18670, 18176, 13176, 47209, 34578, 1810...     1190
51345   3410306                       [43406, 17530, 48453, 10339]      419
51349   3411990  [47156, 49224, 42768, 38400, 4671, 40604, 2660...     1161
51361   3412957                         [5581, 23803, 5876, 15976]      525
51365   3414173  [13083, 7781, 38739, 21038, 8424, 48642, 37357...     3990
51374   3414380                                            [16797]     4550
51375   3415333  [117, 24852, 47209, 651, 43352, 4605, 21903, 4...     4530
51384   3415534  [2002, 41658, 5134, 48679, 43086, 23375, 14874...     3088
51392   3415901     [43352, 39275, 16797, 5067, 7987, 39108, 6848]     3010
51399   3416049  [9656, 32355, 27307, 15160, 22080, 48949, 4333...     2658
51407   3416347          [14332, 35958, 37552, 14766, 24852, 4605]     3544
51413   3416712                [31889, 47252, 43044, 42265, 46667]     1138
51418   3416755  [22474, 3397, 46906, 37646, 24184, 49683, 2485...     2662
51428   3417523  [33671, 42930, 24235, 27156, 41950, 48364, 387...     1184
51438   3417536  [39877, 44359, 16290, 14766, 25466, 26209, 331...     1216
51453   3417722                        [44234, 34106, 9065, 44152]     1361
51457   3417861  [25138, 8518, 17948, 38293, 2411, 12797, 48094...     3050
51467   3417935  [13176, 44632, 38164, 37646, 13870, 22721, 468...     4474
51486   3417938                              [41383, 14927, 40198]     2038
51489   3417950                        [22086, 46875, 14197, 5025]     2025
51493   3418469         [42282, 13176, 30827, 13575, 25588, 38768]     4010
51499   3418959  [27086, 26165, 33575, 33120, 49235, 2621, 4819...     4181
51513   3419351           [14947, 17461, 12250, 5769, 13563, 5337]     1158
51519   3420215                        [6316, 25890, 25544, 38400]     1932

[5000 rows x 3 columns]

In [113]:
from sklearn.metrics import f1_score
from sklearn.metrics import auc
from sklearn.metrics import average_precision_score

t_last_order['f1']=0
t_last_order['apk']=0

for i in t_last_order.index:
    t_last_order['f1'][i]=f1(t_last_order['product_id_y'][i],t_last_order['product_id_x'][i])
    t_last_order['apk'][i]=apk(t_last_order['product_id_y'][i],t_last_order['product_id_x'][i])
    
print('f1 mean:',np.mean(t_last_order.f1))
print('apk mean:',np.mean(t_last_order.apk))

/home/grecia/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
/home/grecia/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # Remove the CWD from sys.path while we load stuff.

f1 mean: 0.01893439013650374
apk mean: 0.029502421840598855